<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cycloden</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">Cycloden</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin">Sign In</a>
            </div>
        </header>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="project-image" src="https://source.unsplash.com/random/400x400"
                                alt="product Image 1">
                            <div class="product-name">
                                <a href="product.html">Bike helmet</a> </div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                        </div>
                    </li>
                </ul>
            </div>

        </main>
        <footer class="footer">
            All rights reserved.
        </footer>
    </div>

</body>

</html>